<%- include('partials/header') %>

<main>
    <h1><%= title %></h1>

    <ul>
        <% categories.forEach(cat => { %>
            <li><%= cat.name %></li>
        <% }) %>
    </ul>
</main>

<%- include('partials/footer') %>