<%- include('partials/header') %>

<h1>Add New Category</h1>

<form action="/new-category" method="POST">
    <label for="category_name">Category Name</label>
    <input 
        type="text" 
        id="category_name" 
        name="category_name" 
        required 
        maxlength="100"
    >

    <button type="submit">Create Category</button>
</form>

<%- include('partials/footer') %>